.jumbotron{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.radio{
  text-align: center;
}
body{
  background-image: url(../images/elephant.jpg);
  background-position: top;
  background-position-y: 720px;
}
.jumbotron{
  background-image: url(../images/ghana.jpg);
  background-position-y: 770px;
}
h1{
  font-weight: 800;
  color: aliceblue;
}
.img{
  float: left;
  height: 149px;
  width: 200px;
  padding-right: 20px;
  padding-bottom: 5px;
}
.heading{
  background-color: aliceblue;
  height: 200px;
  background-image: url(../images/ghana.jpg);
  background-position-y: 0px;
  font-family: cursive;
}
.btn{
  float: right;
}
.intro{
  font-size: 20px;
  padding: 5px;
}
.card{
  background-image: url(../images/checklist.jpg);
  background-position-y: 1800px;
  background-position-x: px;
  padding: 20px;
}
.form-group{
  font-weight: 700;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.radio{
  font-size: 22px;
}